/* App.css */

/* Main container */
.main-content {
  display: flex;
  flex-direction: row;

}

.content{
   flex-grow:2;
   
}

/* SideNavbar */
nav {
  background-color:#add8e6;
  width:4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the start of the sidebar */
}

/* List */
nav .list-container {
  flex: 1; /* Take up remaining vertical space */
  display: flex;
  flex-direction: column;
}

nav .profile-icon{
  padding-bottom: 20px;
  margin-left: 0.5rem;
}
/* Cards */
.cardDeck{
     display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width:15rem;
  background-color: #f9f9f9;
  margin-left: 30px;
  margin-bottom: 20px;
  margin-right: 15px;
    margin-top: 10px;
  padding: 15px;
  border-radius:7px;
  border:1px solid grey;
}

/* Ag-Grid table container */
.ag-theme-alpine {
  margin-bottom: 20px;

}

/* Table buttons */
.table-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Header.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}

.header-left h1 {
  font-size: 24px;

  margin: 0;
}

.header-right p {
  font-size: 14px;
  margin: 0;
  color: #999;
}




/* Media query for responsive layout */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  
  .card {
    flex-basis: 100%;
    margin-right: 0;
  }
}

/* You can add more CSS rules to further customize the styles */
.Ag{
  height: 250px;
  border:1px solid black;
  margin-left:10%;
  margin-right:10%;
  margin-bottom:3%;
  border-radius:5px;
  padding:20px;
}
.Ag h3{
   margin-left:1rem;

}
#white{
  background-color:white;
}
#blue{
  background-color:#add8e6;
}
#green{
  background-color:#afe1af;
}